<include src="layout.html">
  <template name="head">
    <title th:text="${site.title}"></title>
  </template>

  <template name="hero">
    <th:block th:replace="~{modules/header :: header(isHome = true, cover = ${theme.config.general_home_cover})}">
      <include src="modules/nav.html" />
      <div class="header-content">
        <div class="post-text layout-block layout-padding">
          <h1 class="title-wrap" th:text="${site.title}"></h1>
        </div>
      </div>
    </th:block>
  </template>

  <include src="modules/post-list.html" />

  <th:block th:replace="~{modules/pagination :: pagination(
    context = '/',
    prevUrl = ${posts.prevUrl},
    nextUrl = ${posts.nextUrl},
    totalPages = ${posts.totalPages},
    page = ${posts.page},
    hasPrevious = ${posts.hasPrevious()},
    hasNext = ${posts.hasNext()}
  )}" />
</include>