<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{layout :: common-head}"></th:block>
  <title th:text="|友情链接 - ${site.title}|"></title>
</head>
<body>
<div class="root-container">
  <header class="header-container post">
    <div class="post-image" th:style="|background-image:url(${theme.config.general.link_cover})|"></div>
    <th:block th:replace="~{modules/nav :: nav}"></th:block>
    <div class="header-content">
      <div class="post-text layout-block layout-padding">
        <h1 class="title-wrap">友情链接</h1>
        <h2 class="title-sub-wrap">友链</h2>
      </div>
    </div>
  </header>

  <div class="layout-block post-container">
    <section class="article-entry markdown-body layout-margin content-padding--large soft-size--large soft-style--box">
      <p>站点名称 | <span th:text="${theme.config.link.link_title}"></span></p>
      <p>站点地址 | <a th:href="${theme.config.link.link_url}" th:text="${theme.config.link.link_url}"></a></p>
      <p>站点描述 | <span th:text="${theme.config.link.link_describe}"></span></p>
      <p>站点图标 | <a th:href="${theme.config.link.link_icon}" target="_blank" rel="noopener" th:text="${theme.config.link.link_icon}"></a></p>
      <p>想要添加友链在<b>关于</b>留言即可</p>
    </section>
  </div>

  <th:block th:replace="~{modules/links-list :: links-list}"></th:block>

  <th:block th:replace="~{layout :: body-tail}"></th:block>
</div>
</body>
</html>