<include src="layout.html">
  <template name="head">
    <title th:text="|${singlePage.spec.title} - ${site.title}|"></title>
    <link rel="stylesheet" th:href="${theme.assets.url + '/source/css/monokai-sublime.min.css'}" />
    <script th:src="${theme.assets.url + '/source/js/highlight.min.js'}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
      @font-face {
        font-family: "JetBrainsMono-ExtraBold";
        src: url(/*[[${theme.assets.url}]]*/ + "/source/JetBrainsMono-ExtraBold.woff2") format("woff");
      }
    </style>
  </template>

  <template name="hero">
    <th:block th:replace="~{modules/header :: header(isHome = false, cover = ${singlePage.spec.cover})}">
      <include src="modules/nav.html" />
      <div class="header-content">
        <div class="post-text layout-block">
          <div class="layout-margin">
            <h1 class="title-wrap" th:text="${singlePage.spec.title}"></h1>
            <h2 class="title-sub-wrap">
              <strong th:text="${singlePage.owner.displayName}"></strong>
              <span>发布于</span>
              <time class="article-date" th:datetime="${singlePage.spec.publishTime}" itemprop="datePublished"
                    th:text="${#dates.format(singlePage.spec.publishTime, 'yyyy-MM-dd')}"></time>
            </h2>
            <ul class="wrap-list dark"></ul>
          </div>
        </div>
      </div>
    </th:block>
  </template>

  <div class="body-container">
    <article class="content-container layout-block post-container">
      <div class="article-info">
        <section class="article-entry markdown-body layout-margin content-padding--large soft-size--large soft-style--box">
          <article th:utext="${singlePage.content.content}"></article>
        </section>
        <section class="page-message-container layout-padding"
                 th:if="${haloCommentEnabled and singlePage.spec.allowComment}">
          <h2>评论</h2>
          <div id="comment">
            <halo:comment group="content.halo.run" kind="SinglePage" th:attr="name=${singlePage.metadata.name}" />
          </div>
        </section>
      </div>
      <div class="widget-info">
        <include src="modules/sidebar.html" />
      </div>
    </article>
  </div>
</include>