<include src="layout.html">
  <template name="head">
    <title th:text="|🏷️ ${tag.spec.displayName} - ${site.title}|"></title>
  </template>

  <template name="hero">
    <th:block th:replace="~{modules/header :: header(isHome = false, cover = ${theme.config.general_tag_cover})}">
      <include src="modules/nav.html" />
      <div class="header-content">
        <div class="post-text layout-block layout-padding">
          <h1 class="title-wrap" th:text="|🏷️ ${tag.spec.displayName}|"></h1>
        </div>
      </div>
    </th:block>
  </template>

  <include src="modules/tag-posts.html" />

  <th:block th:replace="~{modules/pagination :: pagination(
    context = ${tag.status.permalink} + '/',
    prevUrl = ${posts.prevUrl},
    nextUrl = ${posts.nextUrl},
    totalPages = ${posts.totalPages},
    page = ${posts.page},
    hasPrevious = ${posts.hasPrevious()},
    hasNext = ${posts.hasNext()}
  )}" />
</include>