<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{layout :: common-head}"></th:block>
  <title th:text="|🏷️ ${tag.spec.displayName} - ${site.title}|"></title>
</head>
<body>
<div class="root-container">
  <header class="header-container post">
    <div class="post-image" th:style="|background-image:url(${theme.config.general.tag_cover})|"></div>
    <th:block th:replace="~{modules/nav :: nav}"></th:block>
    <div class="header-content">
      <div class="post-text layout-block layout-padding">
        <h1 class="title-wrap" th:text="|🏷️ ${tag.spec.displayName}|"></h1>
      </div>
    </div>
  </header>

  <th:block th:replace="~{modules/tag-posts :: tag-posts}"></th:block>

  <th:block th:replace="~{modules/pagination :: pagination(
    context = ${tag.status.permalink} + '/',
    prevUrl = ${posts.prevUrl},
    nextUrl = ${posts.nextUrl},
    totalPages = ${posts.totalPages},
    page = ${posts.page},
    hasPrevious = ${posts.hasPrevious()},
    hasNext = ${posts.hasNext()}
  )}"></th:block>

  <th:block th:replace="~{layout :: body-tail}"></th:block>
</div>
</body>
</html>